langgraph
langchain
langchain-groq
langchain-community
langchain-tavily
langchain-text-splitters
langchain-mcp-adapters
langgraph-checkpoint-postgres

psycopg[binary]
psycopg_pool
SQLAlchemy

python-dotenv
python-multipart

tavily-python
requests
certifi

airportsdata
pycountry

fastapi
uvicorn
jinja2
nest-asyncio

mcp
fastmcp

bcrypt
passlib
python-jose
PyJWT
cryptography
email-validator

pydantic
pydantic-settings

pytest
