langgraph
langchain
langchain-groq
langchain-community
langchain-tavily
psycopg[binary]
psycopg_pool
python-dotenv
tavily-python
requests
langgraph-checkpoint-postgres
airportsdata
pycountry
fastapi
uvicorn
jinja2
langchain-mcp-adapters
nest_asyncio
mcp
fastmcp
pytest
certifi
bcrypt
